<div style="display:flex;">
 
   <button (click)="cart()" style="margin-left: 80%;margin-top: 20px;font-weight: 600;
   font-size: 15px;">
           <i class="fa fa-shopping-cart"> Cart</i>
   </button>
  
</div>
<div class="container">
        <table style="width: 80%;">
            <caption>Wishlist Details</caption>
            <thead>
                <tr style="background-color: grey;">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor= "let cart of wishListData">
                    <td>
                        {{cart.id}}
                    </td>
                    <td>
                        {{cart.name}}
                    </td>
                    <td>
                        ₹{{cart.price}}
                    </td>
                    <td>
                        <button (click)="addToCart(cart.id)">Add to Cart</button>
                    </td>
                </tr>
            </tbody>
        </table>
</div>
