<div class="container">
    <h1>About Us</h1>
    <h2>
        Making Online Medicine Ordering Simple and Easy
    </h2>
    <p>
        Gone are the days when we had to drag ourselves to a drugstore during our sickness. With the advent of the internet, even the medical world in India has seen tremendous changes. This has enabled patients to do online medicine shopping right from the comfort of their homes.
    </p>
    <p>
        We understand this and strives harder to make online medicine ordering easier and simpler for you. We make this happen by making a wide variety of medicines available in our online medicine store that can be ordered in a few easy steps.
    </p>
    <p>
        Once you place an order, you will get your medicine delivered, right on time, at your doorstep by our dedicated delivery person.
    </p>
    <h2>Benefits of Ordering Medicine Online</h2>
    <p>
     <dl>
        There are many benefits you can take advantage of when you opt to order medicine online. Have a look at a few of them:
        <dt>- Wide range of medicines available under one roof.</dt>
        <dt>- Cost-effective medicine shopping.</dt>
        <dt>- Highly convenient as the medicines get delivered right at your doorsteps.</dt>
        <dt>- Reduced risk as only fresh medicines are sold by certified vendors.</dt>
        <dt>- Periodic discounts available for you.</dt>
     </dl> 
</div>