<div class="container">
    <h2>Terms of use</h2>
    <p>
        Please read these terms of use carefully by accessing or using this internet based platform, you agree to be bound by the terms described herein and all terms incorporated by reference. if you do not agree to all of these terms, do not use this internet based platform.
    </p>
    <p>For the purposes of availing the Services and/or transacting with the Third Party Service Providers through the Website, You are required to obtain registration, in accordance with the procedure established by us in this regard. As part of the registration process, we may collect the following personal information from You:</p>
    - Name<br>
    - Email address<br>
    - Address (including country and ZIP/ postal code)<br>
    - Phone number<br>
    - Password chosen by the User<br>
    <p>Organizations, companies, and businesses may not become registered members on the Website or use the Website through individual members.</p>
    <p>The Website uses temporary cookies to store certain data (that is not sensitive personal data or information) that is used by 1mg for the technical administration of the Website, research and development, and for User administration.</p>
</div>
